@import "variables";

#articles{
    background-color: $background-light;
}

.articles-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}

.article-item-wrapper{

}

.article-item{
    padding: 35px 60px;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: center;

    h3{
        font-weight: 700;
        font-size: 20px;
        margin: 0 0 35px 0;
    }

    p{
        font-weight: 300;
        color: $text_color_dark;
        margin-bottom: 50px;
    }

    a{
        color: $text_color_links;
        text-decoration: underline;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px){
    .articles-wrapper{
        padding-top: 100px;
        padding-bottom: 80px;
    }
}