@import "variables";

#contact{
    background-color: $background-dark;
}

.contact-wrapper{
    color: $text_color_contact;
    padding: 50px 0;
}

.contact-info{
    margin-bottom: 25px;

    p{
        font-weight: 300;
        font-size: 13px;
        max-width: 350px;
        line-height: 1.6;
    }
}

.contact-phone{
   margin-bottom: 25px;
}

.contact-title{
    font-weight: 700;
}

@media screen and (min-width: 768px){
    .contact-wrapper{
        padding: 100px 0;
    }
}

#map{
    width: 100%;
    height: 420px;
    background-color: #4EAEFF;
}
